@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca";
}

body {
    background-color: hsl(0, 0%, 95%);
}

main {
    min-height: 100vh;
    margin: auto;
    position: relative;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


main .col:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

main .col:nth-child(1)>button {
    color: hsl(31, 77%, 52%);
}

main .col:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

main .col:nth-child(2)>button {
    color: hsl(184, 100%, 22%);
}

main .col:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

main .col:nth-child(3)>button {
    color: hsl(179, 100%, 13%);
}

main .col>button:hover {
    transition: 0.5s;
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
}

.col {
    width: 306px;
    min-width: 306px;
    height: 500px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


img {
    height: 42px;
    width: 66px;
}

h1 {
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    padding: 42px 0;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 150%;
    font-size: 15px;
}

button {
    width: 146px;
    height: 48px;
    cursor: pointer;
    border: 0;
    border-radius: 22px;
    font-size: 15px;
}

footer {
    position: absolute;
    width: 100%;
    top: calc(100vh - 20px);
}

.attribution {
    font-size: 11px;
    text-align: center;
    bottom: 8px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {

    body {
        height: 180vh;
    }

    main {
        position: relative;
        transform: translateY(0);
        top: 76px;
        flex-wrap: wrap;
    }

    .col {
        justify-content: space-between;
        max-width: 326px;
        height: 440px;
    }

    main .col:nth-child(1) {
        border-radius: 10px 10px 0 0;
    }

    main .col:nth-child(3) {
        border-radius: 0 0 10px 10px;
    }

    h1 {
        padding: 12px 0;
    }

    button {
        position: relative;
        bottom: 0;
    }

    footer {
        top: calc(180vh - 20px);
    }
}